{{>/layout/header}}
<!--지도 시작-->
<div class="m_padding_medium">
  <div id="map" style="width:100%;height:400px;"></div>
  <!--지도 종료-->
  <!--메인검색버튼 시작-->
  <h2 class="m_sub_title m_mt_5">전체검색</h2>
  <hr>
  <div class="m_padding_small">
    <div class="container-fluid d-flex">
      <input id="search-input" class="form-control me-2" type="search" placeholder="주소를 복사해서 붙여넣기" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" onclick="addrSearch()">Search</button>

    </div>
  </div>
  <!--메인검색버튼 끝-->

  <!--상세검색버튼 시작-->
  <div class="m_padding_medium">
    <h2 class="m_sub_title">상세검색</h2>
    <hr>
    <div class="mt-5 d-flex">
        <div class="container-fluid">
            <form class="d-flex flex-fill" enctype="application/x-www-form-urlencoded">
                <!--검색박스들 시작-->
                <div class="d-flex flex-column">
                    <!--지역검색까지 시작-->
                    <div id="example1" class="bs-docs-example d-flex">
                        <select id="sido" name="sido" class="step1 me-2 animallist-select-box"
                            onchange="sidoSelected(this.value), orgNmSelect()">
                            <option selected disabled>지역</option>
                            <option id="seoul" value="서울특별시">서울특별시</option>
                            <option id="busan" value="부산광역시">부산광역시</option>
                            <option id="deagu" value="대구광역시">대구광역시</option>
                            <option id="incheon" value="인천광역시">인천광역시</option>
                            <option id="gwangju" value="광주광역시">광주광역시</option>
                            <option id="sejong" value="세종특별자치시">세종특별자치시</option>
                            <option id="deajeon" value="대전광역시">대전광역시</option>
                            <option id="ulsan" value="울산광역시">울산광역시</option>
                            <option id="gyeongi" value="경기도">경기도</option>
                            <option id="gangwon" value="강원도">강원도</option>
                            <option id="choongbook" value="충청북도">충청북도</option>
                            <option id="choognam" value="충청남도">충청남도</option>
                            <option id="jeonam" value="전라남도">전라남도</option>
                            <option id="jeonbook" value="전라북도">전라북도</option>
                            <option id="gyeongbook" value="경상북도">경상북도</option>
                            <option id="gyeongnam" value="경상남도">경상남도</option>
                            <option id="jeju" value="제주특별자치도">제주특별자치도</option>
                        </select>
                        <select id="sigungu" name="sigungu" class="step2 me-2"
                            onchange="sigunguSelected(this.value)">
                            <option>시/군/구</option>
                            <option></option>
                        </select>
                    </div>
                    <!--지역검색까지-->
                    <br>
                    <!--키워드 검색까지 시작-->
                    <div class="bs-docs-example d-flex">
                        <select id="kind" name="kind" onchange="kindSelected(this.value)"
                            class="me-2 animallist-select-box">
                            <option>종류</option>
                            <option value="개">개</option>
                            <option value="개+고양이">개+고양이</option>
                            <option value="개+고양이+기타">개+고양이+기타</option>
                            <option value="고양이">고양이</option>
                            <option value="고양이+기타">고양이+기타</option>
                            <option value="기타">기타</option>
                        </select>
                        <input class="form-control me-2" name="keyword" type="search" placeholder="검색"
                            aria-label="Search">
                    </div>
                    <br>
                    <button id="detailSearch()" class="me-2 btn btn-outline-success" type="button" onclick="detailSearch()">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
  <!--상세검색버튼 끝-->

  <!--검색결과테이블 시작-->
  <div class="d-flex flex-column m_mt_5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">지역</th>
          <th scope="col">보호소명</th>
          <th scope="col">주소</th>
          <th scope="col">운영시간</th>
          <th scope="col">주말운영여부</th>
          <th scope="col">전화번호</th>
          <th scope="col">구조대상동물</th>
        </tr>
      </thead>
      <tbody>
          {{#shelterlistPage.content}}
        <tr>
          <div class="d-flex m_text_align_center">
            <th scope="row" style="vertical-align: middle;">{{#id}}{{id}}{{/id}}{{^id}}정보없음{{/id}}</th>
            <td style="vertical-align: middle;">{{#orgNm}}{{orgNm}}{{/orgNm}}{{^orgNm}}정보없음{{/orgNm}}</td>
            <td style="vertical-align: middle;">{{#careNm}}{{careNm}}{{/careNm}}{{^careNm}}정보없음{{/careNm}}</td>
            <td id="detail-addr" style="vertical-align: middle;">{{#careAddr}}{{careAddr}}{{/careAddr}}{{^careAddr}}정보없음{{/careAddr}}</td>
            <td style="vertical-align: middle;">{{#weekOprStime}}{{weekOprStime}}~{{weekOprEtime}}{{/weekOprStime}}{{^weekOprStime}}정보없음{{/weekOprStime}}</td>
            <td style="vertical-align: middle;">{{#closeDay}}{{closeDay}}{{/closeDay}}{{^closeDay}}0{{/closeDay}}</td>
            <td style="vertical-align: middle;">{{#careTel}}{{careTel}}{{/careTel}}{{^careTel}}***********{{/careTel}}</td>
            <td style="vertical-align: middle;">{{#saveTrgtAnimal}}{{saveTrgtAnimal}}{{/saveTrgtAnimal}}{{^saveTrgtAnimal}}정보없음{{/saveTrgtAnimal}}</td>
          </div>
        </tr>
        {{/shelterlistPage.content}}
      </tbody>
    </table>
  </div>
  <!--검색결과테이블 끝-->

  <script src="/js/shelterList.js"></script>
  {{>/layout/footer}}